build: [
  ["ocaml" "unix.cma" "unvendor.ml"]
  # broken by unvendor
  # ["dune" "subst"] {pinned}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@doc" {with-doc}
  ]
]
