build: [
  ["dune" "subst"] {pinned}
  [
    "dune"
    "build"
    "-j"
    jobs
    "ocaml-lsp-server/src/main.exe"
    "@install"
    "--promote-install-files"
  ]
]
run-test: [
  [make "travis-test"]
]
